[Unit]
Description=Namizun service, Asymmetric upload and download
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/namizun
ExecStart=/var/www/namizun/venv/bin/python3 /var/www/namizun/uploader.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
